*{
    font-family: "Fira Sans";
}

/* nav start */

.nav-container{
    display: flex;
    margin: 24px 160px 20px 160px;
    justify-content: space-between;
}
.nav-p{
    border: 1px solid rgb(0, 106, 80);
    color: hsla(165,100%,21%,1);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
}
.nav-h{
    font-size: 32px;
    font-weight: 700;
    color: hsla(0,0%,5%,1);
}

/* navbar end */

/* banner start */
.banner-container{
    display: flex;
    justify-content: space-around;
    gap: 64px;
    background-color: hsla(152,35%,83%,1);
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 24px;
    height: 560px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    margin-bottom: 80px;
}

.banner-h5{
    color: hsla(0,0%,5%,0.5);
    font-size: 24px;
    font-weight: 500;
}
.banner-h1{
    font-size: 56px;
    font-weight: 700;
    color: hsla(0,0%,5%,1);
}
.banner-btn{
    font-weight: 600;
    font-size: 18px;
    color: hsla(0,0%,101%,1);
    background-color: hsla(165,100%,21%,1);
    border-radius: 8px;
    margin-top: 24px;
    width: 270px;
    height: 56px;
}
/* banner end */

/* Start card Pillars of "Bangladesh 2.0" */

.card-container{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    padding: 24px;
    gap: 24px;
    margin-bottom: 80px;
}

.card-title h1{
    font-weight: 700;
    font-size: 40px;
    color: hsla(0,0%,5%,1);
    margin-left: 160px;
}

.card-container > .row-1{
    border: 1px solid rgba(14, 14, 14, 0.15);;
    border-radius: 16px;
    /* background-color:  rgb(255, 255, 255); */
    background-color: hsla(0,0%,101%,1);
    padding: 24px;
}
.card-h1{
    font-weight: 700;
    font-size: 20px;
    color: hsla(0,0%,5%,0.8);
    margin-bottom: 32px;
}
.card-p{
    font-size: 16px;
    font-weight: 400;
    color: hsla(0,0%,5%,0.7);
}

/* end card Start Pillars of "Bangladesh 2.0 */



/* start share item */
.hh{
    font-weight: 700;
    font-size: 20px;
    color: hsla(0,0%,5%,0.8);
}
.pp{
    font-size: 16px;
    font-weight: 400;
    color: hsla(0,0%,5%,0.7);
    margin-bottom: 24px;
}

.btn{
    font-weight: 600;
    font-size: 16px;
    color: hsla(0,0%,101%,1);
    border-radius: 8px;
    width: 122px;
    height: 41px;
}

.buton:hover{
    background-color: bisque;
    color: black;
}

/* end shre itme*/


 /* Start The Vision of Future */
 .vision-title{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 32px;
 }
 .vision-h1{
    font-weight: 700;
    font-size: 40px;
 }

 .vision-p{
    font-weight: 400;
    font-size: 16px;
    color: hsla(0,0%,5%,0.7);
 }
.vision-container{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    gap: 24px;
    margin-bottom: 32px;
}

.row-a{
    background-color: hsla(217,88%,65%,0.2);
    padding: 32px;
    border-radius: 16px;
}
.row-b{
    background-color: hsla(152,35%,83%,1);
    padding: 32px;
    border-radius: 16px;
    
}
.row-c{
    background-color: hsla(41,71%,89%,1);
    padding: 32px;
    border-radius: 16px;
}

.btn-a{
    background-color: hsla(217,88%,65%,1);
    border: none;
}
.btn-b{
    background-color: hsla(152,89%,33%,1);
    border: none;
}
.btn-c{
    background-color: hsla(41,100%,61%,1);
    border: none;
}

/* end The Vision of Future */

/* Start Dr. Muhammad Yunus Section */
.Yunus-container{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    border-radius: 16px;
    padding: 48px 32px 48px 32px;
    background-position: left 40px;
    
}

.yunus-h3{
    font-size: 20px;
    font-weight: 600;
    color: hsla(0,0%,5%,0.8);

}

 /* Start Your Opinion Matters */

 .container-option{
    font-weight: 700;
    font-size: 40px;
}

.container{
    margin-left: 160px;
    margin-right: 160px;
   
}

.prant{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: hsla(152,35%,83%,1);
    height: 44px;
}

table{
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}

.table-title{
    padding: 32px;
    width: 1500px;  
    height: 409px;
    background-color: lightgray;
    border-radius: 16px;
}
.tr-subtitle{
    background-color: hsla(152,89%,33%,0.15);
    margin: 24px;
    padding: 10px 14px 10px 14px;
    width: 322px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
}

.tr-title{
    height: 19px;
    width: 1100px;
    font-size: 16px;
    font-weight: 600;
    padding: 24px;
    color: hsla(0,0%,5%,1);
    border-color: rgba(14, 14, 14, 0.15);
}
select{
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    
}
select > option{
    font-weight: 500;
    font-size: 16px;
}

.prant-p{
    font-weight: 600;
    font-size: 20px;
    color: hsla(0,0%,5%,1);
}

/* 
 Your Opinion Matters section End */


 /* Start Recent News */
 .title{
    margin-left: 160px;
    margin-right: 160px;
 }
 .subtitle{
    font-size: 40px;
    font-weight: 700;
    color: hsla(0,0%,5%,1);
    margin-bottom: 24px;
 }
 .news-container{
    margin-top: 32px;
 }

 
 .row-prant{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    gap: 32px;
    background-color: #dfe6e9;
    /* background: lightblue; */
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
 }

 .row-aa img{
    border-radius: 24px;
 }

 .row-bc img{
    border-radius: 24px;
 }
 
 #sa button{
    background-color: hsla(152,35%,83%,1);
 }

 .buttns{
    background-color: hsla(165,100%,21%,1);
    border: none;
    margin-top: 32px;
 }
  /* End Recent News */




 /* Start Donate Today */
 .donate-title{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    text-align: center;
 }

 .dontate-subtitle{
    font-weight: 700;
    font-size: 40px;
    color: hsla(0,0%,5%,1);
 }

 .box-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 32px;
 }

.clor button{
    background-color: hsla(152,35%,83%,1);
}

 .row-s button{
    font-weight: 700;
    font-size: 40px;
    height: 128px;
    width: 252px;
    border-radius: 16px;
    background-color: hsla(0,0%,101%,1);
    margin-bottom: 32px;
 }

 .input-fild{
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;
 }

 .input-fild input{
    width: 1032px;
    height: 64px;
    text-align: center;
    border: 1px solid rgba(14, 14, 14, 0.15);
    color: hsla(0,0%,5%,0.3);
   
 }

 /* Start Subscribe Newsletter */
.Subscribe-container{
    margin: 80px 160px 80px 160px;
    text-align: center;
    background-color: hsla(152,35%,83%,1);
    border-radius: 24px;
    padding: 80px 100px 80px 100px;
}

/* 
 .vision-container{
    font-weight: 700;
    font-size: 40px;
    color: hsla(0,0%,5%,1);
 } */

 .Subscribe-input-container{
    display: flex;
    justify-content: center;
    margin-top: 24px;
 }

 .Subscribe-input input{
    width: 600px;
    height: 55px;
    color: hsla(0,0%,5%,0.3);
    border-radius: 8px 0px 0px 8px;;
    background-color: rgb(255, 255, 255);
    border: none;
 }
.Subscribe-input > ::placeholder{
    padding-left: 40px;
}
 .Subscribe-button button{
    width: 150px;
    height: 56px;
    font-weight: 600;
    font-size: 18px;
    background-color: hsla(165,100%,21%,1);
    border: none;
    border-radius: 0px 8px 8px 0px;
    color: hsla(0,0%,101%,1);
 }

 .spam-title{
    margin-top: 25px;
 }
 /* End Subscribe Newsletter */

 /* footer start */
 .footer-title{
    text-align: center;
 }

 .footer-subtitle{
    font-weight: 700;
    font-size: 32px;
    color: hsla(0,0%,5%,1);
    margin-bottom: 32px;

 }

 /* icon strt */
 .hrr{
    width: 80%;
 }
 .icon-container{
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-bottom: 50px;
    margin-top: 32px;
 }